.client {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    height: 100%;
    background-color: var(--color-03);
    color: white;
}

/* TOPICSCONTAINER */
.topicscontainer {
    flex-basis: 30%;
    display: flex;
    gap: 10px;
}

/* TOPICSCONTAINER -> TOPICSFORM */
.topicsform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
}
.topicsform > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topicsform input[type='text'] {
    width: 240px;
    height: 40px;
    padding: 3px;
    font-size: 14px;
}
.topicsform input[type='submit'] {
    width: 240px;
    height: 40px;
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}
.topicsform input[type='submit']:hover {
    border-color: white;
    color: white;
    background-color: var(--color-03);
}

.verticalseparator_flex {
    height: 100%;
    border: 0.5px solid var(--color-04);
}

/* TOPICSCONTAINER -> SUBSCRIBEDTOPICSCONTAINER */
.subscribedtopicscontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.subscribed_topics {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 160px;
    overflow-y: scroll;
}
.subscribed_topics > .topics {
    display: flex;
    border-bottom: 1px solid var(--color-04); 
    padding-bottom: 3px;
    gap: 3px;
    justify-content: space-between;
}
.subscribed_topics > .topics > p {
    flex-basis: 100%;
    max-width: 250px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}
.subscribed_topics > .topics > form{
    width: 120px;
}
.subscribed_topics > .topics > form  > input[type='submit'] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid white;
}
.subscribed_topics > .topics > form > input[type='submit']:hover {
    color: white;
    background-color: var(--color-03);
} 

/* LOADINGCONTAINER */
.loadingcontainer {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* CHATCONTAINER */
.chatcontainer {
    flex-basis: 70%;
    max-height: 400px;
    border: 2px solid var(--color-04);
}

.selected > input[type='submit'] {
    border-color: white ;
    background-color: var(--color-03);
    color: white;
}

/* CUSTOM SCROLLBAR */
/* STILL HAVE TO TEST ON OTHER BROWSERS */
.scrollable_container::-webkit-scrollbar {
    width: 12px;
  }
  .scrollable_container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .scrollable_container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  .scrollable_container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* FOR FIREFOX */
  .scrollable_container {
    scrollbar-width: thin;
    scrollbar-color: var(--color-04) var(--color-03);
  }
  
  .scrollable_container:hover {
    scrollbar-color: var(--color-04) var(--color-03);
  }