.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* MESSAGES */
.messages {
    flex-basis: 80%;
    max-height: 400px;
    border: 2px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    gap: 10px;
    padding: 10px;
}
.messages span{
    font-weight: bold;
}

/* SEND MESSAGE FORM */
.chat > form {
    padding: 2px 0px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 20%;
}
.send_message {
    width: 100%;
    display: flex;
    gap: 5px;
}
.send_message > input[type='text'] {
    flex-basis: 90%;
}
.send_message > input[type='submit'] {
    flex-basis: 10%;
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
    transition: 0.3s;
    cursor: pointer;
}
.send_message > input[type='submit']:hover {
    flex-basis: 10%;
    background-color: black;
    color: white;
}

.choose_topic {
    height: 100%;
    max-width: 640px;
    overflow-x: scroll;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 2px solid black;
}
.choose_topic > div {
    display: flex;
    gap: 5px;
}






