.connectioncontainer {
    display: flex;
    gap: 2px;
    flex-basis: 95%;
}

.connection > form input[type='text'] {
    width: 250px;
    height: 40px;
    padding: 3px;
    font-size: 14px;
}
.connection > form input[type='submit'] {
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}
.connection > form input[type='submit']:hover {
    border-color: white;
    color: white;
    background-color: var(--color-03);
}

.connectioncontainer > div {
    border: 2px solid white;
}
.connectioncontainer > div:nth-child(1){
    width: fit-content;
    padding: 10px;
}
.connectioncontainer > div:nth-child(2){
    width: 100%;
}

.connection {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: var(--color-03);
}
.connection > form {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
.connection > form:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.connection > form:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}   
.connection > form:nth-child(2) {
    display: flex;
    justify-content: center;
}

.examples {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.examples > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.examples > ul > li{
    display: inline;
}

.clientcontainer {
    display: grid;
}

.serverloading {
    place-self: center;
    width: fit-content;
    color: white;
    font-weight: bold;
}

@media (max-width: 1050px) {
    .connectioncontainer {
        flex-direction: column;
    }
    .connectioncontainer > div:nth-child(1){
        width: 100%;
    }
}
  