.good {
    width: 100%;
    padding: 10px;
    height: 100px;
    display: grid;
    place-items: center;
    overflow-x: scroll;
    background-color: green;
    color: white;
    border-bottom: 2px solid white;
}

.bad {
    width: 100%;
    padding: 10px;
    height: 100px;
    display: grid;
    place-items: center;
    overflow-x: scroll;
    background-color: red;
    color: white;
    border-bottom: 2px solid white;
}

.neutral {
    width: 100%;
    padding: 10px;
    height: 100px;
    display: grid;
    place-items: center;
    overflow-x: scroll;
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}
