.good {
    width: 100%;
    max-width: 665px;
    padding: 10px;
    height: 100px;
    display: grid;
    place-items: center;
    overflow-x: scroll;
    border: 2px solid green;
    color: green;
}

.bad {
    width: 100%;
    max-width: 665px;
    padding: 10px;
    height: 100px;
    display: grid;
    place-items: center;
    overflow-x: scroll;
    border: 2px solid red;
    color: red;
}

.neutral {
    width: 100%;
    max-width: 665px;
    padding: 10px;
    height: 100px;
    display: grid;
    place-items: center;
    overflow-x: scroll;
    border: 2px solid black;
}
