.App {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 2px;
    background-color: var(--color-01);
}

.App header {
    flex: 0 1 120px;
    border: 1px solid black;
}
.App main {
    flex: 1 1 auto;
    min-width: 100%; /* CHANGE THIS WITH MEDIA QUERY */
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2px;
}
.App footer {
    flex: 0 1 120px;
    border: 1px solid black;
}