.App {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 2px
}

.App header {
    flex: 0 1 120px;
    border: 1px solid black;
}
.App main {
    flex: 1 1 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.App footer {
    flex: 0 1 120px;
    border: 1px solid black;
}