.connectioncontainer {
    display: flex;
    gap: 2px;
    flex-basis: 95%;
}
.connectioncontainer > div {
    flex-basis: 50%;
    border: 2px solid white;
}
.connection {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: white;
}
.feedbackcontainer {
    flex-basis: 15%;
}
.connection > form {
    padding: 10px;
}
.connection > form:nth-child(2) {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.connection > form:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}   
.connection > form:nth-child(3) {
    flex-basis: 10%;
}
.examples {
    display: flex;
    flex-direction: column;
}
.examples > ul{
    display: flex;
    flex-direction: column;
}
.examples > ul > li{
    display: inline;
}

.clientcontainer {
    flex-basis: 75%;
}