.feedbackscreen {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 2s;
}

.feedback {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 100px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.good {
    display: grid;
    place-items: center;
    border: 2px solid white;
    background-color: rgba(17, 126, 17, 0.900);
    color: white;
}

.bad {
    display: grid;
    place-items: center;
    border: 2px solid white;
    background-color: rgb(139, 18, 18, 0.900);
    color: white;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Animacao de Desaparecimento */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Aplica as animações */
.fade-in {
  animation: fadeIn 1s alternate;
}

.fade-out {
  animation: fadeOut 2s alternate;
}