.feedbackscreen {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 2s;
}

.feedback {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 100px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.good {
    display: grid;
    place-items: center;
    border: 2px solid white;
    background-color: rgba(17, 126, 17, 0.900);
    color: white;
}

.bad {
    display: grid;
    place-items: center;
    border: 2px solid white;
    background-color: rgb(139, 18, 18, 0.900);
    color: white;
}

/* Estilos para a barra de rolagem */
.scrollable-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Para navegadores Firefox */
  .scrollable-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  
  .scrollable-container:hover {
    scrollbar-color: #555 #f1f1f1;
  }
