:root {
    --color-01: #313338;
    --color-02: #2B2D31;
    --color-03: #1E1F22;
    --color-04: #96989C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

div#root {
    height: 100%;
}

p {
    font-size: 14px;
}

a {
    font-size: 16px;
    text-decoration: none;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

/* FORMS */
form > div > input[type='text'] {
    width: 250px;
    height: 40px;
    padding: 3px;
    font-size: 14px;
}
form > input[type='submit'] {
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}
form > input[type='submit']:hover {
    border-color: white;
    color: white;
    background-color: var(--color-03);
}

